.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    
 
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }